
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/obj/project.nuget.cache
Kanbanboard/obj/project.assets.json
Kanbanboard/obj/Kanbanboard.csproj.nuget.g.props
Kanbanboard/obj/Kanbanboard.csproj.nuget.dgspec.json
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.lref
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.i.lref
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.i.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_41rimbqd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_41rimbqd_wpftmp.csproj.BuildWithSkipAnalyzers
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_41rimbqd_wpftmp.assets.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_41rimbqd_wpftmp.AssemblyInfoInputs.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_41rimbqd_wpftmp.AssemblyInfo.cs
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.genruntimeconfig.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.GeneratedMSBuildEditorConfig.editorconfig
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.dll
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.csproj.FileListAbsolute.txt
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.csproj.CoreCompileInputs.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.assets.cache
Kanbanboard/bin/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/bin/Debug/net6.0-windows/Kanbanboard.dll
Kanbanboard/.vs/Kanbanboard/v17/.suo
Kanbanboard/.vs/Kanbanboard/FileContentIndex/d229c268-11e4-4892-a9b4-33db27929ec6.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/b2f4f773-038e-4fdd-86b8-4ac93d88739b.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/ae698152-e5d7-4f91-98fb-9b0900fee8f4.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/641232c5-7760-4013-9201-2674792649d0.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/4ff26416-caaf-455a-a126-0bde2e1c62bb.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/498b5874-9338-46b9-9746-079cc4c21722.vsidx
Kanbanboard/.vs/Kanbanboard/DesignTimeBuild/.dtbcache.v2
Kanbanboard/obj/project.nuget.cache
Kanbanboard/obj/project.assets.json
Kanbanboard/obj/Kanbanboard.csproj.nuget.g.props
Kanbanboard/obj/Kanbanboard.csproj.nuget.dgspec.json
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.lref
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.i.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard_MarkupCompile.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.genruntimeconfig.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.GeneratedMSBuildEditorConfig.editorconfig
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.dll
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.csproj.FileListAbsolute.txt
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.csproj.CoreCompileInputs.cache
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.assets.cache
Kanbanboard/bin/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/bin/Debug/net6.0-windows/Kanbanboard.dll
Kanbanboard/.vs/Kanbanboard/v17/.suo
Kanbanboard/.vs/Kanbanboard/FileContentIndex/b2f4f773-038e-4fdd-86b8-4ac93d88739b.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/4ff26416-caaf-455a-a126-0bde2e1c62bb.vsidx
Kanbanboard/.vs/Kanbanboard/FileContentIndex/498b5874-9338-46b9-9746-079cc4c21722.vsidx
Kanbanboard/.vs/Kanbanboard/DesignTimeBuild/.dtbcache.v2
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.pdb
Kanbanboard/obj/Debug/net6.0-windows/Kanbanboard.GeneratedMSBuildEditorConfig.editorconfig
/.vs
