################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.v2
*.v2
/Kanbanboard/.vs/
/Kanbanboard/obj/
/Kanbanboard/bin/